[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "22.12.0"
flake8 = "6.0.0"
numpy = "1.24.1"
matplotlib = "3.6.3"
pillow-heif = "0.13.1"
pygame = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
